<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RVIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RVIS.Properties.Settings>
            <setting name="mesIP" serializeAs="String">
                <value>192.168.10.12</value>
            </setting>
            <setting name="mesPort" serializeAs="String">
                <value>19888</value>
            </setting>
            <setting name="mesDevNum" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="tmIP" serializeAs="String">
                <value>179.217.14.100</value>
            </setting>
            <setting name="tmModbusPort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="pcServerIP" serializeAs="String">
                <value>179.217.14.101</value>
            </setting>
            <setting name="pcServerPort" serializeAs="String">
                <value>39888</value>
            </setting>
            <setting name="localServerPath" serializeAs="String">
                <value>C:\Images\</value>
            </setting>
            <setting name="dataResetFreq" serializeAs="String">
                <value>Daily</value>
            </setting>
            <setting name="SqlAttachDbFilename" serializeAs="String">
                <value>C:\Users\12127\Documents\Visual Studio 2017\Projects\Work\RVIS\RVIS\db\RVIS_DB.mdf</value>
            </setting>
            <setting name="SqlDataSource" serializeAs="String">
                <value>(LocalDB)\MSSQLLocalDB</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UIImageLoadPath" serializeAs="String">
                <value>C:\RVIS\Img\UI\</value>
            </setting>
            <setting name="TMImageSavePath" serializeAs="String">
                <value>C:\RVIS\Img\TM\</value>
            </setting>
        </RVIS.Properties.Settings>
    </userSettings>
</configuration>